{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>Email Sent | Gift Empire</title>
{% endblock %}

{% block content %}
<main class="main">
    <div class="page-header">
        <div class="container d-flex flex-column align-items-center">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            Check Your Email
                        </li>
                    </ol>
                </div>
            </nav>

            <h1>Check Your Email</h1>
        </div>
    </div>

    <div class="container reset-password-container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="feature-box border-top-primary">
                    <div class="feature-box-content text-center">
                        <i class="icon-mail-empty display-4 text-primary mb-3"></i>
                        <p>
                            We've emailed you instructions for setting your password.
                            You should receive them shortly.
                        </p>
                        <p class="text-muted small">
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                        </p>
                        <a href="{% url 'accounts:account' %}" class="btn btn-md btn-primary mt-3">
                            Back to Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- End .main -->
{% endblock %}