{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load currency_filters %}
{% block title %}
<title>{{product.name}} | Gift Empire</title>
{% endblock %}
{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ecommerce:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>
                </div>
            </nav>

            <div class="container">
                <div class="product-single-container product-single-default">
                    <div class="cart-message d-none">
                        <strong class="single-cart-notice">"{{ product.name }}"</strong>
                        <span>has been added to your cart.</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-md-6 product-single-gallery">
                            <div class="product-slider-container">
                                <div class="label-group">
                                    {% if product.stock_quantity == 0 %}
                                        <div class="product-label label-hot">OUT OF STOCK</div>
                                    {% endif %}
                                    {% if product.is_on_sale %}
                                        <div class="product-label label-sale">
                                            -{{ product.discount_percent }}%
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                                    {% for img in product.images.all %}
                                    <div class="product-item">
                                        <img class="product-single-image"
                                             src="{{ img.image_url }}"
                                             data-zoom-image="{{ img.image_url }}"
                                             width="468" height="468"
                                             alt="{{ img.alt_text|default:product.name }}" />
                                    </div>
                                    {% empty %}
                                    <div class="product-item">
                                        <img class="product-single-image"
                                             src="{% static 'assets/images/placeholder.jpg' %}"
                                             width="468" height="468"
                                             alt="{{ product.name }}" />
                                    </div>
                                    {% endfor %}
                                </div>
                                <span class="prod-full-screen">
                                    <i class="icon-plus"></i>
                                </span>
                            </div>

                            <div class="prod-thumbnail owl-dots">
                                {% for img in product.images.all %}
                                <div class="owl-dot">
                                    <img src="{{ img.thumbnail_url }}"
                                         width="110" height="110"
                                         alt="{{ img.alt_text|default:product.name }}" />
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-6 product-single-details mb-1">
                            <h1 class="product-title">{{ product.name }}</h1>

                            <div class="ratings-container">
                            </div>

                            <hr class="short-divider">

                            <div class="price-box">
                                {% if product.is_on_sale %}
                                    <span class="old-price">{% to_currency product.price %}</span>
                                    <span class="product-price">{% to_currency product.discount_price %}</span>
                                {% else %}
                                    <span class="product-price">{% to_currency product.display_price %}</span>
                                {% endif %}
                            </div>

                            <div class="product-desc">
                                <p>{{ product.description }}</p>
                            </div>

                            <ul class="single-info-list">
                                <li>
                                    SKU:
                                    <strong>{{ product.sku }}</strong>
                                </li>
                                <li>
                                    CATEGORY:
                                    <strong>
                                        <a href="#" class="product-category">{{ product.category.name|upper }}</a>
                                    </strong>
                                </li>
                            </ul>

                            <div class="product-filters-container">
                                <div class="product-single-filter">
                                  {% if sizes %}
                                    <label>Variants:</label>
                                    <ul class="config-size-list">
                                        {% for product_size in sizes %}
                                            {% if product_size.stock > 0 %}
                                            <li>
                                                <a href="javascript:;"
                                                   class="d-flex align-items-center justify-content-center size-option"
                                                   data-size-id="{{ product_size.size.id }}"
                                                   data-price-adjustment="{{ product_size.price_adjustment }}"
                                                   data-stock="{{ product_size.stock }}"
                                                   title="{{ product_size.stock }} in stock">
                                                    {{ product_size.size.value }}
                                                </a>
                                            </li>
                                            {% else %}
                                            <li>
                                                <a href="javascript:;"
                                                   class="d-flex align-items-center justify-content-center disabled"
                                                   title="Out of stock">
                                                    {{ product_size.size.value }}
                                                </a>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                  {% endif %}
                                </div>
                            </div>

                            <div class="product-action">
                                <input type="hidden" id="product-id" value="{{ product.id }}">
                                <input type="hidden" id="selected-size-id" value="">

                                <div class="product-single-qty">
                                    <input class="horizontal-quantity form-control"
                                           id="product-qty"
                                           type="number"
                                           value="1"
                                           min="1"
                                           max="{{ product.stock_quantity }}"
                                           data-product-stock="{{ product.stock_quantity }}">
                                </div>

                                {% if product.sizes.exists %}
                                    <a href="javascript:;" id="add-to-cart-btn"
                                       class="btn btn-secondary mr-2 disabled"
                                       title="Select a size">
                                        Select a size
                                    </a>
                                {% else %}
                                    {% if product.stock_quantity > 0 %}
                                        <a href="javascript:;" class="btn btn-dark add-cart mr-2" title="Add to Cart">Add to Cart</a>
                                    {% else %}
                                        <a href="javascript:;" class="btn btn-secondary mr-2 disabled" title="Out of Stock">Out of Stock</a>
                                    {% endif %}
                                {% endif %}

                                <a href="{% url 'cart:cart_summary' %}" class="btn btn-gray view-cart d-none">View cart</a>
                            </div>

                            <hr class="divider mb-0 mt-0">

                            <div class="product-single-share mb-1 pb-2 mt-0 pt-2">
                                <label class="sr-only">Share:</label>
                                <div class="social-icons mr-2">
                                    <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                    <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                    <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank" title="Linkedin"></a>
                                    <a href="#" class="social-icon social-gplus fab fa-google-plus-g" target="_blank" title="Google +"></a>
                                    <a href="#" class="social-icon social-mail icon-mail-alt" target="_blank" title="Mail"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-single-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">Additional Information</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                            <div class="product-desc-content">
                                {% if product.description %}
                                    <p>{{ product.description|linebreaksbr }}</p>
                                {% else %}
                                    <p>No description available for this product.</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
                            <table class="table table-striped mt-2">
                                <tbody>
                                    {% if product.weight %}
                                    <tr>
                                        <th>Weight</th>
                                        <td>{{ product.weight }} kg</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th>SKU</th>
                                        <td>{{ product.sku }}</td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <td>{{ product.category.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Stock</th>
                                        <td>{{ product.stock_quantity }} units</td>
                                    </tr>
                                    <tr>
                                        <th>Variants</th>
                                        <td>
                                          {% for x in sizes %}
                                          {{x.size.value}},
                                          {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% if related %}
                <div class="products-section pt-0">
                    <h2 class="section-title">Related Products</h2>
                    <div class="products-slider owl-carousel owl-theme dots-top dots-small">
                        {% for p in related %}
                        <div class="product-default left-details">
                            <figure>
                                <a href="{{ p.get_absolute_url }}">
                                    {% if p.primary_image %}
                                        <img src="{{ p.primary_image }}" alt="{{ p.name }}" width="300" height="300">
                                    {% endif %}
                                </a>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="#" class="product-category">{{ p.category.name }}</a>
                                </div>
                                <h3 class="product-title">
                                    <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:0%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="price-box">
                                    {% if p.is_on_sale %}
                                        <span class="old-price">{% to_currency p.price %}</span>
                                        <span class="product-price">{% to_currency p.discount_price %}</span>
                                    {% else %}
                                        <span class="product-price">{% to_currency p.price %}</span>
                                    {% endif %}
                                </div>
                                <div class="product-action">
                                    <a href="{{ p.get_absolute_url }}" class="btn-icon btn-add-cart"><i class="icon-shopping-cart"></i><span>MORE DETAILS</span></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <hr class="mt-0 m-b-5" />
                {% if ft_related %}
                <div class="product-widgets-container row pb-2">
                    <div class="col-lg-3 col-sm-6 pb-5 pb-md-0">
                        <h4 class="section-sub-title">Featured Products</h4>
                        {% for p in ft_related %}
                        <div class="product-default left-details product-widget">
                            <figure>
                                <a href="{{ p.get_absolute_url }}">
                                    {% if p.primary_image %}
                                        <img src="{{ p.primary_image }}" alt="{{ p.name }}" width="300" height="300">
                                    {% endif %}
                                </a>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="#" class="product-category">{{ p.category.name }}</a>
                                </div>
                                <h3 class="product-title">
                                    <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                                </h3>
                                <div class="ratings-container">
                                </div>
                                <div class="price-box">
                                    {% if p.is_on_sale %}
                                        <span class="product-price">{% to_currency p.display_price %}</span>
                                    {% else %}
                                        <span class="product-price">{% to_currency p.price %}</span>
                                    {% endif %}
                                </div>
                                <div class="product-action">
                                    <a href="{{ p.get_absolute_url }}" class="btn-icon btn-add-cart "><i class="icon-shopping-cart"></i><span>MORE DETAILS</span></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </main>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const sizeOptions = document.querySelectorAll('.size-option');
    const selectedSizeInput = document.getElementById('selected-size-id');
    const addCartBtn = document.getElementById('add-to-cart-btn');
    const qtyInput = document.getElementById('product-qty');
    const hasSizes = sizeOptions.length > 0;

    const productStock = parseInt(qtyInput.dataset.productStock || qtyInput.getAttribute('max') || '999', 10);

    function getCurrentMaxStock() {
        const selectedSizeId = selectedSizeInput.value;
        if (hasSizes && selectedSizeId) {
            const selectedOption = document.querySelector(`.size-option[data-size-id="${selectedSizeId}"]`);
            if (selectedOption) {
                return parseInt(selectedOption.dataset.stock, 10);
            }
        }
        return productStock;
    }

    function enforceQuantityLimit() {
        const max = getCurrentMaxStock();
        let val = parseInt(qtyInput.value, 10) || 1;
        if (val > max) {
            qtyInput.value = max;
        } else if (val < 1) {
            qtyInput.value = 1;
        }
        qtyInput.setAttribute('max', max);
    }

    if (qtyInput) {
        qtyInput.setAttribute('max', productStock);
        qtyInput.addEventListener('input', enforceQuantityLimit);
        qtyInput.addEventListener('change', enforceQuantityLimit);
        qtyInput.addEventListener('blur', enforceQuantityLimit);
    }

    sizeOptions.forEach(function (option) {
        option.addEventListener('click', function () {
            sizeOptions.forEach(function (o) { o.classList.remove('active'); });
            this.classList.add('active');

            const sizeId = this.dataset.sizeId;
            const stock = parseInt(this.dataset.stock, 10);
            selectedSizeInput.value = sizeId;

            if (qtyInput) {
                qtyInput.setAttribute('max', stock);
                enforceQuantityLimit();
            }

            if (addCartBtn) {
                if (stock > 0) {
                    addCartBtn.classList.remove('btn-secondary', 'disabled');
                    addCartBtn.classList.add('btn-dark', 'add-cart');
                    addCartBtn.title = 'Add to Cart';
                    addCartBtn.textContent = 'Add to Cart';
                } else {
                    addCartBtn.classList.remove('btn-dark', 'add-cart');
                    addCartBtn.classList.add('btn-secondary', 'disabled');
                    addCartBtn.title = 'Out of Stock';
                    addCartBtn.textContent = 'Out of Stock';
                }
            }
        });
    });

    document.addEventListener('click', function (e) {
        const btn = e.target.closest('#add-to-cart-btn, .add-cart');
        if (!btn) return;
        if (btn.classList.contains('disabled')) return;

        const sizeId = selectedSizeInput.value;

        if (hasSizes && !sizeId) {
            alert('Please select a size before adding to cart.');
            return;
        }

        const currentMax = getCurrentMaxStock();
        const requestedQty = parseInt(qtyInput.value, 10) || 1;
        if (requestedQty > currentMax) {
            alert('Only ' + currentMax + ' item(s) available.');
            qtyInput.value = currentMax;
            return;
        }

        const productId = document.getElementById('product-id').value;
        const quantity = qtyInput.value || 1;

        fetch("{% url 'cart:cart_add' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: new URLSearchParams({
                action: 'post',
                product_id: productId,
                quantity: quantity,
                size_id: sizeId
            })
        })
        .then(function (res) { return res.json(); })
        .then(function (data) {
            if (data.success === false) {
                alert(data.error || 'Could not add to cart.');
                return;
            }

            document.querySelector('.cart-message').classList.remove('d-none');
            document.querySelector('.view-cart').classList.remove('d-none');

            document.querySelectorAll('.cart-count').forEach(function (el) {
                el.textContent = data.qty;
            });
        })
        .catch(function (err) { console.error('Cart add error:', err); });
    });
});
</script>
{% endblock %}