{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load currency_filters %}
{% block title %}
<title>Home | Gift Empire</title>
{% endblock %}
{% block content %}

        <main class="main">
            <div class="container">
                <div class="row m-b-3">
                    <div class="home-slider-container col-lg-9 offset-lg-3">
                        <div class="home-slider owl-carousel owl-carousel-lazy owl-theme slide-animate" data-owl-options="{
                            'nav': false
                        }">
                            <div class="home-slide banner">
                                {% if active_banner %}
                                    <a href="{{ active_banner.redirect_url }}">
                                        <img class="slide-bg" src="{{ active_banner.image_url }}" style="background-color: #ccc;" alt="{{ active_banner.header }}" width="835" height="410" />
                                    </a>
                                    <div class="banner-layer slide-1 text-xl-right banner-layer-middle">
                                        <h4 class="text-xl-right slide-title appear-animate" data-animation-delay="100" data-animation-name="fadeInUpShorter">{{ active_banner.header }}</h4>
                                        <h2 class="text-xl-right text-uppercase sub-title appear-animate" data-animation-delay="300" data-animation-name="fadeInUpShorter">{{ active_banner.subheading }}</h2>
                                        <div class="row">
<!--                                            <div class="col-auto col-md-6 appear-animate" data-animation-delay="500" data-animation-name="fadeInRightShorter"></div>-->
                                            <div class="col-auto col-md-6 content-right appear-animate" data-animation-delay="700" data-animation-name="fadeInRightShorter">
                                                {% if active_banner.teaser %}
                                                    <h4 class="d-inline-block text-left text-uppercase line-height-1">{{ active_banner.teaser }}</h4>
                                                {% endif %}
                                                {% if active_banner.price_tag %}
                                                    <h5 class="text-left coupon-sale-text">{{ active_banner.price_tag }}</h5>
                                                {% endif %}
                                                <div class="mb-0">
                                                    <a href="{{ active_banner.redirect_url }}" class="btn btn-modern btn-md btn-dark">{{ active_banner.cta_text }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="#">
                                        <img class="slide-bg" src="{% static 'assets/images/demoes/demo9/slider/slide-1.jpg' %}" style="background-color: #ccc;" alt="banner" width="835" height="410" />
                                    </a>
                                    <div class="banner-layer slide-1 text-xl-right banner-layer-middle">
                                        <h4 class="text-xl-right slide-title appear-animate" data-animation-delay="100" data-animation-name="fadeInUpShorter">Find the Boundaries. Push Through!</h4>
                                        <h2 class="text-xl-right text-uppercase sub-title appear-animate" data-animation-delay="300" data-animation-name="fadeInUpShorter">Gift Empire</h2>
                                        <div class="row">
<!--                                            <div class="col-auto col-md-6 appear-animate" data-animation-delay="500" data-animation-name="fadeInRightShorter"></div>-->
                                            <div class="col-auto col-md-6 content-right appear-animate" data-animation-delay="700" data-animation-name="fadeInRightShorter">
                                                <h4 class="d-inline-block text-left text-uppercase line-height-1 d-inline-block">Starting At $119.99. Discounts lasts till april</h4>
                                                <h5 class="text-left coupon-sale-text">$119.99</h5>
                                                <div class="mb-0">
                                                    <a href="#" class="btn btn-modern btn-md btn-dark">BUY NOW!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="home-slide banner">
                                {% if active_banner2 %}
                                    <a href="{{ active_banner2.redirect_url }}">
                                        <img class="slide-bg" src="{{ active_banner2.image_url }}" style="background-color: #ccc;" alt="{{ active_banner2.header }}" width="835" height="410" />
                                    </a>
                                    <div class="banner-layer slide-1 text-xl-right banner-layer-middle">
                                        <h4 class="text-xl-right slide-title appear-animate" data-animation-delay="100" data-animation-name="fadeInUpShorter">{{ active_banner2.header }}</h4>
                                        <h2 class="text-xl-right text-uppercase sub-title appear-animate" data-animation-delay="300" data-animation-name="fadeInUpShorter">{{ active_banner2.subheading }}</h2>
                                        <div class="row">
<!--                                            <div class="col-auto col-md-6 appear-animate" data-animation-delay="500" data-animation-name="fadeInRightShorter"></div>-->
                                            <div class="col-auto col-md-6 content-right appear-animate" data-animation-delay="700" data-animation-name="fadeInRightShorter">
                                                {% if active_banner2.teaser %}
                                                    <h4 class="d-inline-block text-left text-uppercase line-height-1 d-inline-block">{{ active_banner2.teaser }}</h4>
                                                {% endif %}
                                                {% if active_banner2.price_tag %}
                                                    <h5 class="text-left coupon-sale-text">{{ active_banner2.price_tag }}</h5>
                                                {% endif %}
                                                <div class="mb-0">
                                                    <a href="{{ active_banner2.redirect_url }}" class="btn btn-modern btn-md btn-dark">{{ active_banner2.cta_text }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="#">
                                        <img class="slide-bg" src="{% static 'assets/images/demoes/demo9/slider/slide-1.jpg' %}" style="background-color: #ccc;" alt="banner" width="835" height="410" />
                                    </a>
                                    <div class="banner-layer slide-1 text-xl-right banner-layer-middle">
                                        <h4 class="text-xl-right slide-title appear-animate" data-animation-delay="100" data-animation-name="fadeInUpShorter">Find the Boundaries. Push Through!</h4>
                                        <h2 class="text-xl-right text-uppercase sub-title appear-animate" data-animation-delay="300" data-animation-name="fadeInUpShorter">Gift Empire</h2>
                                        <div class="row">
<!--                                            <div class="col-auto col-md-6 appear-animate" data-animation-delay="500" data-animation-name="fadeInRightShorter"></div>-->
                                            <div class="col-auto col-md-6 content-right appear-animate" data-animation-delay="700" data-animation-name="fadeInRightShorter">
                                                <h4 class="d-inline-block text-left text-uppercase line-height-1 d-inline-block">Starting At $119.99. Discounts lasts till april</h4>
                                                <h5 class="text-left coupon-sale-text">$119.99</h5>
                                                <div class="mb-0">
                                                    <a href="#" class="btn btn-modern btn-md btn-dark">BUY NOW!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End .home-slider -->
                    </div>
                    <!-- End .col-lg-9 -->
                </div>
                <!-- End .row -->
                {% if products %}
                <section class="featured-products-section">
                    <h2 class="section-title title-decorate text-center d-flex align-items-center appear-animate" data-animation-delay="100" data-animation-duration="1500">Latest Additions</h2>

                    <div class="owl-carousel owl-theme nav-image-center" data-owl-options="{
                            'margin': 20,
                            'dots': false,
                            'nav': true,
                            'loop': false,
                            'autoplay': false,
                            'responsive': {
                                '0': {
                                    'items': 2
                                },
                                '768': {
                                    'items': 3
                                },
                                '1200': {
                                    'items': 4
                                }
                            }
                        }">

                        {% for x in products %}
                        <div class="product-default left-details">
                            <figure>
                                <a href="{{ x.get_absolute_url }}">
                                    {% if x.primary_image %}
                                        <img src="{{ x.primary_image }}" alt="{{ x.name }}" width="300" height="300">
                                    {% else %}
                                        <img src="{% static 'assets/images/placeholder.jpg' %}" alt="{{ x.name }}" width="300" height="300">
                                    {% endif %}
                                </a>
                                <div class="label-group">
                                    {% if x.is_featured %}
                                    <span class="product-label label-hot">HOT</span>
                                    {% endif %}
                                    {% if x.discount_percent %}
                                        <span class="product-label label-sale">-{{ x.discount_percent }}%</span>
                                    {% endif %}
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="#" class="product-category">{{ x.category.name }}</a>
                                </div>
                                <h3 class="product-title"><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></h3>
                                <div class="price-box">
                                    {% if x.is_on_sale %}
                                        <span class="old-price">{%to_currency x.price %}</span>
                                        <span class="product-price">{% to_currency x.discount_price %}</span>
                                    {% else %}

                                        <span class="product-price">{% to_currency x.display_price %}</span>
                                    {% endif %}
                                </div>
                                <!-- End .price-box -->
                                <div class="product-action">
                                    <a href="{{x.get_absolute_url}}" class="btn-icon btn-add-cart"><i
                                            class="icon-shopping-cart"></i><span>MORE DETAILS</span></a>
<!--                                    <a href="wishlist.html" class="btn-icon-wish" title="wishlist"><i-->
<!--                                            class="icon-heart"></i></a>-->
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </section>
                {% endif %}

                <div class="mb-3"></div>
                <!-- margin -->
                {% if ft_products %}
                <section class="fashion-products-section pb-2 appear-animate" data-animation-delay="100" data-animation-duration="1500">
                    <h2 class="section-title title-decorate text-center d-flex align-items-center">FEATURED SELECTION
                    </h2>
                    <div class="owl-carousel owl-theme nav-image-center" data-owl-options="{
                        'margin': 20,
                        'dots': false,
                        'nav': true,
                        'loop': false,
                        'autoplay': false,
                        'responsive': {
                            '0': {
                                'items': 2
                            },
                            '768': {
                                'items': 3
                            },
                            '1200': {
                                'items': 4
                            }
                        }
                    }">
                        {% for x in ft_products %}
                        <div class="product-default left-details">
                            <figure>
                                <a href="{{ x.get_absolute_url }}">
                                    {% if x.primary_image %}
                                        <img src="{{ x.primary_image }}" alt="{{ x.name }}" width="300" height="300">
                                    {% else %}
                                        <img src="{% static 'assets/images/placeholder.jpg' %}" alt="{{ x.name }}" width="300" height="300">
                                    {% endif %}
                                </a>
                                <div class="label-group">
                                    <span class="product-label label-hot">HOT</span>
                                    {% if x.discount_percent %}
                                        <span class="product-label label-sale">-{{ x.discount_percent }}%</span>
                                    {% endif %}
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="category-list">
                                    <a href="#" class="product-category">{{ x.category.name }}</a>
                                </div>
                                <h3 class="product-title"><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></h3>
                                <div class="price-box">
                                    {% if x.is_on_sale %}
                                        <span class="old-price">{%to_currency x.price %}</span>
                                        <span class="product-price">{% to_currency x.discount_price %}</span>
                                    {% else %}

                                        <span class="product-price">{% to_currency x.display_price %}</span>
                                    {% endif %}
                                </div>
                                <!-- End .price-box -->
                                <div class="product-action">
                                    <a href="{{ x.get_absolute_url }}" class="btn-icon btn-add-cart"><i
                                            class="icon-shopping-cart"></i><span>MORE DETAILS</span></a>
<!--                                    <a href="wishlist.html" class="btn-icon-wish" title="wishlist"><i-->
<!--                                            class="icon-heart"></i></a>-->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
                <div class="m-b-1"></div>
                <!-- margin -->
            </div>
            <!-- End .container -->
        </main>
        <!-- End .main -->



{% endblock %}